<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <a class="adwords-conversion" href="sms:0555268287&body=hello homam"><img src="http://wap.mozook.com/cmps/Templates/Mozook_Ringtone/Default/HTML/images/subscribe_btns/subscribe_btn-p320-en.gif" border="0" /></a>
    <script type="text/javascript" src="/adwords.js"></script>
</body>
</html>